.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 24em;
}

.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}

.btn-ghost {
  background-color: transparent;
}
